/****** Header ****************************************/

header {
    padding-top: 0px;
    width: 1920px;
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    height: 900px;
    top: 0;
    left: 0;
}

header:before {
    content: "";
    width: 1920px;
    height: 900px;
    position: absolute;
    background: rgb(61, 41, 107);
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.5;
}

.logo {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    opacity: 0.6;
    z-index: 20;
    height: 108px;
    margin-right: 10px;
    margin-top: -90px;
}

.logo img {
    width: 600px;
    height: 100px;
    margin-block: 251px;
    margin-inline: -94px;
}

.navbar li a {
    color: white;
    z-index: 20;
}

.divH1 h1 {
    margin-left: 404px;
    margin-top: 30px;
}

a:link {
    text-decoration: none;
    list-style: none;
}

.menu ul li {
    display: inline-block;
    font-size: small;
    margin-left: 35px;

}

.menu ul {
    list-style-type: none;
    text-align: right;
    margin-top: -60px;
    margin-right: 400px;
}

.clearfix {
    clear: both;
    float: none;
}

h1 {
    margin-top: 0;
    display: block;
    text-align: left;
    font-size: xx-large;
    color: white;
    z-index: 20;
}

.navSubtitle {
    display: block;
    text-align: left;
    margin-left: 380px;
    color: white;
    z-index: 20;
}

.navSubtitle p {
    margin-left: 28px;
    margin-top: 246px;
    height: 14px;
}

h2 {
    margin-left: 28px;
    margin-top: 22px;
    font-size: 96px;
    letter-spacing: -3pt;
    line-height: 76pt;
    margin-bottom: 38px;
}

.btnOne {
    background-color: Transparent;
    background-repeat: no-repeat;
    color: white;
    padding: 16px 30px 14px;
    border-color: white;
    font-size: 16px;
    margin-left: 30px;
}

/****** Section one ****************************************/

.sectionOne {
    display: flex;
    justify-content: center;
    margin: 128px;
    margin-left: 616px;

}

.sectionOne img {
    border: 1px solid;
    height: 140px;
    width: 148px;
    margin-right: 136px;
}

h6 {
    font-size: 17px;
    text-align: initial;
    margin-left: 9px;
}

.sectionOne p {
    font-size: medium;
    text-align: center;
    margin-right: 134px;
    margin-top: -25px;

}

/****** Section two ****************************************/

.sectionTwo {
    height: 754px;
    width: 1920px;
    background-color: rgb(241, 236, 233);
    display: flex;
    margin-top: -10px;
    margin-left: -188px;
    padding-right: 186px;
}

.sectionTwo img {
    height: 496px;
    width: 624px;
    padding-left: 526px;
    padding-top: 128px;
    margin-left: 66px;
}

.about {
    font-size: medium;
    color: rgb(185, 90, 13);
    margin-top: 94px;
    margin-left: 30px;
}

.subsectionTwo h4 {
    margin-top: -1px;
    font-size: xx-large;
    margin-bottom: 5px;
    margin-left: 30px;
}

.pSectionTwo {
    font-size: small;
    margin-top: 26px;
    margin-left: 30px;
    text-align: start;
    margin-right: 54px;
}

.btnTwo {
    margin-top: 32px;
    margin-left: 30px;
    font-size: small;
    padding: 20px 28px 20px 28px;
    border: 1px solid rgb(185, 90, 13);
}

/****** Main ****************************************/

.subsectionTwo {
    padding-top: 120px;
    padding-right: 260px;
    padding-left: 40px;
}

.recent {
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    margin-left: -234px;
}

.recent p {
    font-size: medium;
    color: rgb(185, 90, 13);
    height: 16px;
    margin-top: 130px;
    margin-left: 578px;
}

.recent h5 {
    font-size: xx-large;
    margin-top: -4px;
    margin-left: 566px;
}

.proyect {
    display: flex;
    justify-content: center;
    font-size: small;
    margin-top: 88px;
    margin-left: 420px;
}

.proyect li {
    text-decoration: none;
    list-style-type: none;
    margin-right: 30px;
}

.proyect li a {
    color: black;
}

/****** Photos ****************************************/

.photoDivOne {
    display: flex;
    margin-top: 54px;
}

.photoOne {
    background-image: url("../images/p1.png");
    width: 348px;
    height: 474px;
    border-radius: 10px;
    position: relative;
    text-align: start;
    margin-top: 54px;
    margin-left: 402px;
}

.textOne {
    position: absolute;
    background-color: white;
    margin-left: 48px;
    padding-right: 94px;
}

.textOne p {
    margin-top: 34px;
    margin-left: 30px;
}

.textOne p:last-child {
    margin-top: -2px;
    padding-bottom: 20px;
    font-size: small;
}

.photoTwo {
    background-image: url("../images/p2.png");
    width: 730px;
    height: 474px;
    border-radius: 10px;
    position: relative;
    text-align: start;
    margin-top: 54px;
    margin-left: 32px;
}

.textTwo {
    position: absolute;
    background-color: white;
    margin-left: 428px;
    padding-right: 94px;
}

.textTwo p {
    margin-top: 34px;
    margin-left: 30px;
}

.textTwo p:last-child {
    margin-top: -2px;
    padding-bottom: 20px;
    font-size: small;
}

.photoDivTwo {
    display: flex;
    margin-top: 28px;
}

.photoThree {
    background-image: url("../images/p4.png");
    width: 348px;
    height: 474px;
    border-radius: 10px;
    position: relative;
    text-align: start;
    margin-left: 402px;
}

.textThree {
    position: absolute;
    background-color: white;
    margin-left: 48px;
    padding-right: 94px;
}

.textThree p {
    margin-top: 34px;
    margin-left: 30px;
}

.textThree p:last-child {
    margin-top: -2px;
    padding-bottom: 20px;
    font-size: small;
}

.photoFour {
    background-image: url("../images/p3.png");
    width: 730px;
    height: 542px;
    object-fit: fill;
    border-radius: 10px;
    position: relative;
    text-align: start;
    margin-left: 32px;
}

.textFour {
    position: absolute;
    background-color: white;
    margin-left: 428px;
    padding-right: 94px;
}

.textFour p {
    margin-top: 34px;
    margin-left: 30px;
}

.textFour p:last-child {
    margin-top: -2px;
    padding-bottom: 20px;
    font-size: small;
}

.view {
    background-image: url("../images/ct1.jpg");
    width: 1920px;
    height: 516px;
    text-align: center;
    color: white;
    margin-top: 130px;
}

/*.view:before {
    content: "";
    width: 1920px;
    height: 516px;
    position: absolute;
    background: rgb(61, 41, 107);
    z-index: 10;
    opacity: 0.6;
}*/

.view p {
    padding-top: 140px;
    font-size: xx-large;
}

.testimonials {
    margin-top: 130px;
}