.container {
    max-width: 1200px;
    margin: auto;
}

/****** Header ****************************************/

header {
    padding-top: 0px;
    width: 1920px;
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    height: 902px;
}

header:before {
    content: "";
    width: 1920px;
    height: 902px;
    position: absolute;
    background: rgb(61, 41, 107);
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.4;
}

.logo {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    opacity: 0.6;
    z-index: 20;
}

.logo img {
    width: 600px;
    height: 100px;
    margin-block: 251px;
    margin-inline: -94px;
}

.navbar li a {
    color: white;
    z-index: 20;
}

.divH1 {
    margin-bottom: 1px;

}

a:link {
    text-decoration: none;
    list-style: none;
}

.menu ul li {
    display: inline-block;
    font-size: small;
}

.menu ul {
    list-style-type: none;
    text-align: right;
}

.clearfix {
    clear: both;
    float: none;
}

h1 {
    margin-top: 0;
    display: block;
    text-align: left;
    font-size: xx-large;
    color: white;
    z-index: 20;
}

.navSubtitle {
    display: block;
    text-align: left;
    margin-left: 380px;
    color: white;
    z-index: 20;
}

.btnOne {
    background-color: Transparent;
    background-repeat: no-repeat;
    color: white;
    padding: 5px 5px 5px;
    border-color: white;
    font-size: 10px;
}

/****** Section one ****************************************/

.sectionOne {
    display: flex;
    justify-content: center;
    margin: 128px;
    margin-left: 170px;

}

.sectionOne img {
    border: 1px solid;
    height: 140px;
    width: 148px;
    margin-right: 127px;
}

h6 {
    font-size: 17px;
    text-align: initial;
    margin-left: 9px;
}

.sectionOne p {
    font-size: medium;
    text-align: center;
    margin-right: 134px;
    margin-top: -25px;

}

/****** Section two ****************************************/

.sectionTwo {
    height: 470px;
    width: 1900px;
    background-color: rgb(241, 236, 233);
    display: flex;
    margin-top: 10px;
    padding-left: -300px;
    margin-left: -350px;
    margin-right: -600px;
    padding-bottom: 138px;
}

.sectionTwo img {
    height: 398px;
    width: 500px;
    padding-left: 324px;
    padding-top: 104px;
}

.about {
    font-size: medium;
    color: rgb(185, 90, 13);
    margin-top: 50px;
    margin-left: 14px;
}

.subsectionTwo h4 {
    margin-top: -1px;
    font-size: x-large;
    margin-bottom: 5px;
    margin-left: 15px;
}

.pSectionTwo {
    font-size: x-small;
    margin-top: 22px;
    margin-left: 16px;
    text-align: start;
    margin-right: 504px;
}

.btnTwo {
    margin-top: 20px;
    margin-left: 18px;
    font-size: small;
    padding: 20px 28px 20px 28px;
    border: 1px solid rgb(185, 90, 13);
}

/****** Main ****************************************/

.subsectionTwo {
    padding-top: 120px;
    padding-right: 260px;
    padding-left: 40px;
}

.recent {
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    margin-left: -54px;
}

.recent p {
    font-size: x-small;
    color: rgb(185, 90, 13);
    height: 16px;
    margin-top: 102px;

}

.recent h5 {
    font-size: x-large;
    margin-top: 0px;
    padding-left: -34;
}

.proyect {
    display: flex;
    justify-content: center;
    font-size: small;
    list-style-type: none;
    margin-top: 70px;
    margin-left: -106px;
}

.photoOne {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 150px;
    margin-left: 300px;
}

.textOne {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.photoTwo {
    position: relative;
    display: inline-block;
    text-align: center;
}

.textTwo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.photoThree {
    position: relative;
    display: inline-block;
    text-align: center;
}

.textThree {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.photoFour {
    position: relative;
    display: inline-block;
    text-align: center;
}

.textFour {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}