body {
    margin: 0px;
    padding: 0px;

    /*Fuentes*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.logo {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    opacity: 0.5;
}

.logo img {
    width: 600px;
    height: 100px;
}

.navbar {
    padding-top: 0px;
    background-image: url('/assets/images/header-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 1500px 900px;
    color: white;
}

.navbar li a {
    color: white;

}

a:link {
    text-decoration: none;
    list-style: none;
}

li {
    /* display: inline-flex;
    list-style-type: none;
    align-items: center;*/
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 80px;
}

.menu ul {
    display: inline-flex;
    list-style-type: none;
    text-align: right;
    margin-left: 700px;
    margin-bottom: 1000px;
    padding-top: 0px;
    margin-top: 0px;
}

.clearfix {
    clear: both;
    float: none;
}

h1 {
    margin-top: 0;
    display: block;
    text-align: left;
    font-size: xx-large;
    margin-left: 380px;
}

.navSubtitle {
    display: block;
    text-align: left;
    margin-left: 120px;
}

.btnOne {
    background-color: Transparent;
    background-repeat: no-repeat;
    color: white;
    padding: 5px 5px 5px;
    border-color: white;
    font-size: 10px;
}

.sectionOne {
    display: flex;
    justify-content: center;
    margin: 50px;
    padding-left: 210px;
    padding-right: 150px;

}

.sectionOne img {
    border: 1px solid;
    height: 75px;
    width: 70px;
}

.sectionOne p {
    font-size: x-small;
    text-align: center;
}

.sectionTwo {
    height: 470px;
    background-color: rgb(241, 236, 233);
    display: flex;
    justify-content: flex-end;
    margin-left: 40px;
    margin-right: 40px;
}

.sectionTwo img {
    width: 390px;
    padding-left: 240px;
    padding-top: 80px;

}

.btnTwo {
    margin-top: 20px;
    font-size: x-small;
    padding: 10px 15px 10px 15px;
    border: 1px solid rgb(185, 90, 13);
}

.subsectionTwo {
    padding-top: 120px;
    padding-right: 260px;
    padding-left: 40px;
}

.about {
    font-size: x-small;
    color: rgb(185, 90, 13);
}

.subsectionTwo h4 {
    margin-top: 5px;
    font-size: x-large;
    margin-bottom: 5px;
}

.pSectionTwo {
    font-size: x-small;
}

.recent {
    justify-content: center;
    text-align: center;
    margin-top: 80px;
}

.recent p {
    font-size: x-small;
    color: rgb(185, 90, 13);
}

.recent h5 {
    font-size: x-large;
    margin-top: 0px;
}

.proyect {
    display: flex;
    justify-content: center;
    font-size: small;
}

.photoOne {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 150px;
    margin-left: 300px;
}

.textOne {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.photoTwo {
    position: relative;
    display: inline-block;
    text-align: center;
}

.textTwo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.photoThree {
    position: relative;
    display: inline-block;
    text-align: center;
}

.textThree {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.photoFour {
    position: relative;
    display: inline-block;
    text-align: center;
}

.textFour {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}